/* You can add global styles to this file, and also import other style files */

.main-container {
    margin-top: 50px;
}

body {
    background-color: rgb(212, 252, 252);
}

div {
    background-color: rgb(247, 255, 255);
}